<mat-toolbar fxLayout="row">
  <div class="navbar-title" fxFlex="70px">
    <button
      mat-button
      aria-label="home-button"
      routerLink=""
    ><h2>Crype</h2>
    </button>
  </div>

  <div class="navbar-currency" fxFlex>
    <button mat-button [matMenuTriggerFor]="currencyMenu">Currency ({{selectedCurrency}})</button>
    <mat-menu #currencyMenu="matMenu">
      <button mat-menu-item  *ngFor="let cur of currencies" (click)="changeCurrency(cur)">{{cur}}</button>
    </mat-menu>
  </div>

  <div class="crypto-searchbar" fxFlex fxLayoutAlign="end">
    <app-crypto-searchbar></app-crypto-searchbar>
  </div>

</mat-toolbar>
