<mat-toolbar fxLayout="row">
  <div class="mobile-menu">
    <button mat-button [matMenuTriggerFor]="menu" aria-label="crype menu button">
      <mat-icon>menu</mat-icon>
      <span id="title">Crype</span>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item routerLink="blockchainexplorer">
        <mat-icon>manage_search</mat-icon>
        <span>Block explorer</span>
      </button>
    </mat-menu>
  </div>

  <div class="navbar-title" fxFlex="70px">
    <button
      mat-button
      aria-label="home-button"
      routerLink=""
    ><h2>Crype</h2>
    </button>
  </div>

  <div>
    <button mat-button [matMenuTriggerFor]="currencyMenu">{{selectedCurrency}}</button>
    <mat-menu #currencyMenu="matMenu">
      <button mat-menu-item  *ngFor="let cur of currencies" (click)="changeCurrency(cur)">{{cur}}</button>
    </mat-menu>
  </div>

  <div class="desktop-button">
    <button mat-button routerLink="blockchainexplorer">Explorer</button>
  </div>

  <div class="crypto-searchbar" fxFlex fxLayoutAlign="end">
    <app-crypto-searchbar></app-crypto-searchbar>
  </div>

</mat-toolbar>
