.navbar-buttons {
  .mat-icon-button::ng-deep {
    margin: 0 15% 0 15%;
    color: #ffffff;
  }
}

.navbar-title::ng-deep {
  margin-right: 10px;
  color: #ffffff;
}

.mat-toolbar::ng-deep {
  //background: #656D78;
  margin-bottom: 1.5%;
}

// mobile
@media screen and (max-width : 700px) {
  .mobile-menu {
    display: flex;
    #title {
      margin-left: 10px;
    }
  }
  .desktop-button {
    display: none;
  }
  .navbar-title {
    display: none;
  }
}

// desktop
@media screen and (min-width : 700px) {
  .mobile-menu {
    display: none;
  }
  .desktop-button {
    display: flex;
  }
}
