<mat-card class="body-content">
  <br>

  <div>
    <div fxLayout="row" class="row">
      <div fxFlex="50%" fxLayout="column">

        <div fxFlex>
          <div class="crypto-rowspan">
            <img src="{{this.thumbnail}}" alt="{{this.name}} crypto icon">
            <h3>{{this.name}}</h3>
          </div>
        </div>

        <div fxFlex>
          <h5>Current price: {{this.current_price | currency}}
            <h5>All time high: {{this.ath | currency}}</h5>
            <h5>Market Rank: {{this.market_rank}}</h5>
            <div fxLayout="row">24hr change:
              <div [ngClass]="{
                      'cell-negative': this.price_change_24hr < 0,
                      'cell-positive': this.price_change_24hr > 0
                    }"
              >
                <div *ngIf="this.price_change_24hr > 0" fxLayout="row" >
                  <mat-icon class="change-icon" fxFlex="15%">arrow_drop_up</mat-icon>
                  <div fxFlex="85%">{{this.price_change_24hr | number:'1.0-2'}}%</div>
                </div>

                <div *ngIf="this.price_change_24hr < 0" fxLayout="row" >
                  <mat-icon class="change-icon" fxFlex="15%">arrow_drop_down</mat-icon>
                  <div fxFlex="85%">{{this.price_change_24hr | number:'1.0-2'}}%</div>
                </div>
              </div>
            </div>
          </h5>
        </div>
      </div>

      <div fxFlex="50%">
        <div fxLayout="column">
          <h3>Details</h3>
          <a href="{{this.home_page}}">{{this.name}} Website</a>
          <a href="{{this.subreddit}}">{{this.name}} Subreddit</a>
        </div>
      </div>
    </div>

    <div class="crypto-overview">
      <h3>{{this.name}} overview</h3>
      <!-- Description is set from TS file  -->
      <div class="description-container">

        <div class="description-body" (click)="toggleFold()" [@panelState]="description_folded">
          <p id="description"></p>
        </div>

        <div class="description-footer" (click)="toggleFold()" fxLayout="row">
          <div fxFlex="92">{{expand_folded}}</div>
          <div fxFlex id="icon-dropdown"><mat-icon>{{icon_folded}}</mat-icon></div>
        </div>

      </div>
    </div>
    <br>
      <app-crypto-candle-chart [cryptoID]="id"></app-crypto-candle-chart>
<!--       <h3 class="crypto-title">{{chartDay[0]}} day price data</h3>
      <div class="chartContainer" *ngIf="sparkline_data.length > 0">
        <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [dataLabels]="chartOptions.dataLabels"
        [markers]="chartOptions.markers"
        [title]="chartOptions.title"
        [fill]="chartOptions.fill"
        [yaxis]="chartOptions.yaxis"
        [xaxis]="chartOptions.xaxis"
        [tooltip]="chartOptions.tooltip"
        [theme]="chartOptions.theme"
        [autoUpdateSeries]="false"
        ></apx-chart>
      </div> -->
  </div>

</mat-card>
<br>
