<mat-card class="body-content">
  <!--  <h3>{{cryptoDetails.name}}</h3>-->
  <!--  <h2>Price : {{(cryptoDetails.current_price| cryptoConvert:'btc': 'AUD') | currency}</h2>-->
  <br>
  <div>
    <div fxLayout="column" class="row">
      <div fxFlex class="col-1">
        <h3 class="title">
          <img src="{{this.thumbnail}}" alt="{{this.name}} crypto icon">
          {{this.name}}
        </h3>
        <h5>Current price: {{this.current_price | currency}}
          <h5>All time high: {{this.ath | currency}}</h5>
          <h5>Market Rank: {{this.market_rank}}</h5>
        </h5>
      </div>
      <div fxFlex class="col-2">
        <h3>Details</h3>
        <a href="{{this.home_page}}">{{this.name}} Website</a>
        <a href="{{this.subbreddit}}">{{this.name}} Subreddit</a>
      </div>
    </div>

    <h3>{{this.name}} overview</h3>
    <!-- Description is set from TS file  -->
    <div id="description"></div>

    <br>
    <h3>{{this.name}} price data</h3>
    <div class="chartContainer">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [dataLabels]="chartOptions.dataLabels"
        [markers]="chartOptions.markers"
        [title]="chartOptions.title"
        [fill]="chartOptions.fill"
        [yaxis]="chartOptions.yaxis"
        [xaxis]="chartOptions.xaxis"
        [tooltip]="chartOptions.tooltip"
        [autoUpdateSeries]="true"
      ></apx-chart>
    </div>
  </div>
</mat-card>
