.crypto-rowspan {
  flex-direction: row;
  box-sizing: border-box;
  display: -webkit-box;
  h3 {
    padding-left: 2%;
  }
  h5 {
    padding-left: 1%;
  }
}

.crypto-title {
  margin-left: 2%;
}

a {
  color: #bfbfbf;
  text-decoration: none;
}

.crypto-overview {
  margin-left: 2%;
  margin-right: 2%;
  ;
}

.row {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  margin-left: 2%;
  margin-right: 2%;
  .change-icon::ng-deep {
    height: 5px;
    width: 5px;
    margin-right: 50%;
  }
}

.content {
  margin-left: 2% !important;
  margin-right: 2% !important;
}

.chartContainer {
  padding-right: 1%;
  .apexcharts-tooltip.apexcharts-theme-light.active {
    background: #606060;
    color: #ffffff;
  }
}
