.row {
  flex-direction: row;
  box-sizing: content-box;
  display: flex;
}

.change-icon::ng-deep {
  height: 5px;
  width: 5px;
  margin-right: 20px;
}

.col {
  flex-direction: column;
  box-sizing: content-box;
  display: flex;
  width: 33.33%;
  margin-right: 0.5%;

  .inner-card::ng-deep {
    background-color: #4d4d4d;;
    padding: 3%;
  }

  .col-inner-1 {
    flex-direction: column;
    box-sizing: border-box;
    width: 100px;
    margin-right: 1%;
    img {
      width: 80px;
      height: 80px;
      flex-basis: fit-content;
    }
  }

  .col-inner-2 {
    flex-direction: column;
    box-sizing: border-box;
  }

  .change-icon::ng-deep {
    height: 5px;
    width: 5px;
  }
}

//mobile
@media only screen and (max-width: 960px) {
 .row {
   flex-direction: row;
   box-sizing: initial;
   display: contents;
  }
  .col {
   flex-direction: column;
   display: inline-block;
   width: 100%;
   margin-top:1%;
   height: 100%;
   .inner-card::ng-deep {
     background-color: #4d4d4d;;
     padding: 3%;
     height: 80px;
   }
   .col-inner-1 {
     flex-direction: column;
     display: inline-table;
     margin-top: auto;
     margin-bottom: auto;
     justify-content: flex-start;
     width: 15%;
     img {
        width: 80%;
        height: 80%;
      }
    }

    .col-inner-2 {
      flex-direction: column;
      display: inline-flex;
      width: 82%;
      float: right;
    }

    .change-icon::ng-deep {
      height: 5px;
      width: 5px;
      margin-right: 50%;
    }
  }
}
