<div *ngFor="let stat of globalStatsData; let i=index" class="marketstats-data">
  <div fxLayout="row" fxLayoutAlign="center">
    <h3>24hr marketcap change: </h3>
    <div [ngClass]="{
                        'cell-negative': stat.market_cap_change_percentage_24h_usd < 0,
                        'cell-positive': stat.market_cap_change_percentage_24h_usd > 0
                      }"
    >
      <div *ngIf="stat.market_cap_change_percentage_24h_usd > 0" fxLayout="row" >
        <mat-icon class="change-icon" fxFlex="15%">arrow_drop_up</mat-icon>
        <div fxFlex="85%">{{stat.market_cap_change_percentage_24h_usd | number:'1.0-2'}}%</div>
      </div>

      <div *ngIf="stat.market_cap_change_percentage_24h_usd < 0" fxLayout="row" >
        <mat-icon class="change-icon" fxFlex="15%">arrow_drop_down</mat-icon>
        <div fxFlex="85%">{{stat.market_cap_change_percentage_24h_usd | number:'1.0-2'}}%</div>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center">
    <h3>BTC dominance: {{stat.market_cap_percentage.btc | number:'1.0-2'}}%</h3>
  </div>
  <div fxLayout="row" fxLayoutAlign="center">
    <h3>Total marketcap: {{(stat.total_market_cap.usd | currencyConverter)| currencyShortener:3}}</h3>
  </div>
  <div fxLayout="row" fxLayoutAlign="center">
    <h3>Total 24hr volume: {{(stat.total_volume.usd | currencyConverter )| currencyShortener:3}}</h3>
  </div>
</div>
