html, body, app-root, .app-frame {
  height: 100%;
  //background-color: rgb(50, 50, 50);
  background-color: #0D1117;
  color: #ffffff;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-card {
  //opacity: 90%;
  background-color: #212121 !important;
}

.mat-table {
  background-color: #212121 !important;
}

.mat-menu::ng-deep {
  background-color: #212121 !important;
}

.body-content {
  margin: 0 1.5% 0 1.5%;
}

.cell-negative {
  color: #ff0000;
}

.cell-positive {
  color: #00ff00;
}

.loadingSpinner {
  margin-top: 20%;
  h3 {
    margin-top: 2%;
  }
}
